<h1>Add a New Blood Camp</h1>

<form action="/volunteer/add-camp" method="POST">
    <label for="name">Camp Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required>
    <br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
    <br>
    <button type="submit">Add Camp</button>
</form>
