<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteer Dashboard</title>
</head>
<body>
    <h1>Welcome, <%= volunteer.username %></h1>
    <p>This is your volunteer dashboard.</p>

    <a href="/volunteer/add-camp">
        <button>Add New Blood Camp</button>
    </a>
    <br>
    <br>
    <a href="/volunteer/show-stock">
        <button>Show Blood Stock</button>
    </a>
    
</body>
</html>
